.login {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    max-width: 600px;
}

.lhead {
    font-size: 47px;
    font-family: -webkit-pictograph;
    padding: 10px 0;
    font-weight: bolder;
}

.lhead1 {
    font-size: 15px;
    font-family: monospace;
    padding: 37px;
    line-height: 26px;
    color: rgb(29 16 139);
}

.lhead2 {
    font-size: 15px;
    font-family: none;
    padding: 9px;
    /* border: 1px solid rgb(155 157 173); */
    background: rgb(184 220 222);
    color: #155e69;
}

.lhead3 {
    display: flex;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    border: 1px solid #141878;
}

.head4 {
    font-size: 20px;
    font-family: -webkit-pictograph;
    padding: 20px;
    font-weight: bolder;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
}

.fieldhead {
    font-size: 13px;
    font-family: monospace;
    /* padding: 10px; */
}

.fieldinput {
    padding: 7px 0;
}

.fieldinput input, .fieldinput select, .fieldinput textarea {
    padding: 10px 9px;
    width: -webkit-fill-available;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #f1f1f1;
}
.forget {
    padding: 11px 3px;
}

a {
    text-decoration: none;
}
.accountType {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 23px;
}

.LoginOut {
    width: 20%;
    padding: 20px;
    background: linear-gradient(45deg, #22b3c9, #42c7bf54);
    border-radius: 10px;
    box-shadow: 1px 1px 10px;
    cursor: pointer;
    height: 90%;
}

.Heading1 {
    width: 100%;
    text-align: center;
    font-size: 49px;
    padding: 22px 0;
    color: white;
    font-family: fantasy;
    line-height: 56px;
    text-shadow: 1px 4px 9px rgb(55 230 237);
}

.HeadingDescription {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-family: monospace;
    text-shadow: 1px 1px 10px white,1px 1px 10px white,1px 1px 10px white,1px 1px 10px white,1px 1px 10px white,1px 1px 10px white,1px 1px 10px white,1px 1px 10px white,1px 1px 10px white;
    font-weight: 900;
    color: rgb(10 117 133);
}

.LoginOut:hover {
    background: linear-gradient(
45deg, #88eefc, #0544478f);
}